<h1><%= "#{@user.name}'s " if @user %>Workouts</h1>
<p><%= link_to('View All Workouts', workouts_path) if @user %></p>

<h3>Filter: </h3>
<%= form_with(model: [@user, @workout], method: :get, local: true) do %>
  <%= select_tag :exercise_name, options_from_collection_for_select(@exercises, :name, :name), include_blank: true %>
  <%= select_tag :user_name, options_from_collection_for_select(@users, :name, :name), include_blank: true %>
  <%= submit_tag 'Filter' %>
<% end %>

<ul>
<% @workouts.each do |workout| %>
  <li>
    <h2><%= link_to(workout.name, workout_path(workout), class: 'button') %></h2>
    <p><%= workout.description %></p>
    By: <%= link_to(workout_user_name(workout), user_path(workout.user)) %>
  </li>
<% end %>
</ul>