<h1>Workouts</h1>

<%= link_to('Make Workout', new_user_workout_path(current_user)) %>

<h3>Workouts by exercise: </h3>
<%= form_with(url: workouts_path, method: :get, local: true) do %>
  <%= select_tag :exercise_name, options_from_collection_for_select(@exercises, :name, :name), include_blank: true %>
  <%= submit_tag 'Filter' %>
<% end %>

<ul>
<% @workouts.each do |workout| %>
  <li>
    <h2><%= link_to(workout.name, workout_path(workout)) %></h2>
    <p><%= workout.description %></p>
    By: <%= link_to(workout_user_name(workout), user_path(workout.user)) %>
  </li>
<% end %>
</ul>