<h1><%= @workout.name %></h1>
<h3>By: <%= link_to(workout_user_name(@workout), user_path(@workout.user)) %></h3>
<%= render partial: 'shared/save_workout' if !current_users_workout?(@workout) %>
<%= link_to('Edit Workout', edit_workout_path(@workout)) if current_users_workout?(@workout) %>
<%= button_to('Delete Workout', workout_path(@workout), method: :delete, data: { confirm: 'Are you sure?' }) if current_users_workout?(@workout) %>

<ol>
<% @custom_exercises.each do |custom_exercise| %>
  <li>
    <h4><%= link_to(custom_exercise.exercise_name, exercise_path(custom_exercise.exercise)) %>, Reps: <%= custom_exercise.rep_range %>, Sets: <%= custom_exercise.sets %></h4>
  </li>
<% end %>
</ol>

<p><%= @workout.description %></p>