<h1><%= @workout.name %></h1>
<h3>By: <%= workout_user_name(@workout) %></h3>
<%= render partial: 'shared/save_workout' %>

<ol>
<% @custom_exercises.each do |custom_exercise| %>
  <li>
    <h4><%= link_to(custom_exercise.exercise_name, exercise_path(custom_exercise.exercise)) %>, Reps: <%= custom_exercise.rep_range %></h4>
  </li>
<% end %>
</ol>

<p><%= @workout.description %></p>