<h1><%= @user.name %>'s Profile</h1>

<p><%= link_to('View All Workouts', workouts_path) %></p>

<h2><%= @user.name %>'s Workouts: </h2>

<ul>
<% @user.workouts.each do |workout| %>
  <li>
    <h2><%= link_to(workout.name, workout_path(workout)) %></h2>
    <p><%= workout.description %></p>
  </li>
<% end %>
</ul>

<h2><%= @user.name %>'s Saved Workouts: </h2>
<ul>
<% @user.user_saved_workouts.each do |user_saved_workout| %>
  <li>
    <h2><%= link_to(title(user_saved_workout), workout_path(user_saved_workout.saved_workout)) %></h2>
    <%= link_to('Edit Saved Workout', edit_workout_user_saved_workout_path(user_saved_workout.workout, user_saved_workout)) %>
    <p>By: <%= user_name(user_saved_workout) %></p>
    <p><%= saved_workout_description(user_saved_workout) %></p>
  </li>
<% end %>
</ul>